<h1>
    Lets start work here
    HOME SYNC CLEAN
</h1>

<p>
    Hello world ! And hello master thesis!
</p>

<!-- First row with input-->
<div class="row">
    <!-- <form [formGroup]="basicForm">
        <div class="col-12">
            <div class="form-group">
                <label for="firstInput">First change</label>
                <input id="firstInput" class="form-control" type="text" formControlName="firstInput" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="secondInput">First change</label>
                <input id="secondInput" class="form-control" type="text" formControlName="secondInput" />
            </div>
        </div>
    </form> -->

    <div class="col-12">
        <button (click)="clickOnlineEvent()">Simulate online click</button>
    </div>

    <div class="col-12">
        <button (click)="clickOfflineEvent()">Simulate offline click</button>
    </div>

    <div class="col-12">
        <button (click)="runSyncWorker()">Run web worker</button>
    </div>

    <div class="col-12">
        <button (click)="makeBErequest()">Make BE request</button>
    </div>

    <div class="col-12">
        <button (click)="makePostBErequest()">Make POST BE request</button>
    </div>

    <div class="col-12">
        <button (click)="testWorkerExample()">Start TEST WORKER example</button>
    </div>

    <div class="col-12">
        <button (click)="addRetryNotification()">Add new push notification to Retry process</button>
    </div>


    <div class="col-12">
        <button (click)="runEntitySyncWorker()">Run entity sync for object_name128</button>
    </div>

    <div class="col-12">
        <button (click)="saveWithAutoMerge()">Save with automerge</button>
    </div>

    <div class="col-12">
        <button (click)="loadExistingDocument()">Load existing document</button>
    </div>

    <div class="col-12">
        <button (click)="startEntityObjectSync()">Run entity object sync for 'example-table'</button>
    </div>

    <div class="col-12">
        <h4>Sync in temp primer</h4>
        <p>Primer ki bo shranil prvo en podatek v sync(s pomocjo `storeNewObject`), nato bom nastavil status na `in_sync` in ponovno poskusil shraniti podatek preko `storeNewObject`.</p>
        <button (click)="exampleSaveInTemp()">Run example that will save to Sync and then to TEMP -- we call twice storeObject'</button>
    </div>

    <div class="col-12">
        <h4>Sync,temp in exception primer</h4>
        <p>
            Run example that will save to Sync and then to TEMP and then return exception when trying to save again -- we call three times storeObject
        </p>
        <button (click)="exampleSaveInTempWithExceptionWhenTempExists()">Run example</button>
    </div>

    <div class="col-12">
        <h4>Osnovni sync</h4>
        <p>
            Pozeni primer za SYNC - torej shranimo podatek v SYNC tabelo in izvedemo sync z workerjem
        </p>
        <button (click)="testSyncBasicUseCase()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Osnovni save</h4>
        <p>
            Pozeni primer za shranjevanje (storeNewObject) - torej shranimo podatek v SYNC tabelo, TEMP tabelo ali javimo napako (ce obstaja KONFLIKT od prej)
        </p>
        <button (click)="testSaveObject()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Resetiraj obstojec osnovni sync</h4>
        <p>
            Pozeni primer za SYNC - ko imamo ze nek objekt v shrambi in ga hocemo poenostaviti na status, da se bo uspesno poslal na BE
        </p>
        <button (click)="resetDataForExistingObject(currentObjectUuid)">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Primer sentryja</h4>
        <p>
            Testiranje captureMessage funkcije z dekoratorjem
        </p>
        <button (click)="testSentryCaptureMessageWithDecorator()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Igranje s TS-ESSENTIALS</h4>
        <p>
           Testiranje kode s TS-ESSENTIALS
        </p>
        <button (click)="playingWithTsEssentials()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Igranje z datumi</h4>
        <p>
           Testiranje kode z datumi
        </p>
        <button (click)="playingWithDates()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Changes related funkcije</h4>
        <p>
           Testiranje kako doseci pravilno strukturo `changes` tabele, da bomo imeli revert back opcijo.
        </p>
        <button (click)="testingChangesFunctions()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>Dekodiranje sync chamber example podatka</h4>
        <p>
           Ker je `record` polje zapisanov Uint8Array obliki je potrebno to dekodirati, da je berljivo za cloveka. Ta funkcija vzame `example object`: {{this.currentObjectUuid}} in mu pretvori `record` v human-readable obliko.
        </p>
        <button (click)="decodeCurrentTestingExampleRecord()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>SyncLibAutoMerge - diff test</h4>
        <p>
           Testiranje kako se izracuna diff med obj1 in obj2 s pomocjo SyncLibAutoMerge.compareTwoObjects
        </p>
        <button (click)="testSyncLibAutoMergeService()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>SyncLibAutoMerge - test update status of example sync item</h4>
        <p>
           Testiranje spreminjanje statusa v example sync item-u s funkcijo, ki jo bomo uporabili po zadnjem konfliktu
        </p>
        <button (click)="updateSyncItemWithStatus()">Pozeni primer</button>
    </div>

    <div class="col-12">
        <h4>BatchSync - test process</h4>
        <p>
           Testiranje batch sync procesa - za vsak entity se poisce pending objekte in se potem to zdruzi v tabelo za vsak entity in se poslje na BE samo vsak entity
           v zaporedju.
        </p>
        <button (click)="batchSync()">Pozeni primer</button>
    </div>


</div>

<div class="row" *ngIf="showExampleConflict">
    <div class="" style="width:50%;float:left;">
        <h2> Left side of conflict </h2>
        <p>
            {{exampleConflict?.localConflictedRecord}}
        </p>

    </div>
    <div class="" style="width:50%;float:left;">
        <h2>Right side of conflict</h2>
        <p>{{exampleConflict?.remoteConflictRecord?.objectAsString}}</p>
        <ul *ngIf="exampleConflict.remoteConflictRecord?.fields?.length > 0">
            <li *ngFor="let conflict of exampleConflict.remoteConflictRecord?.fields">
                <div>To je field: {{conflict.fieldName}}</div>
                <div>To je conflictId: {{conflict.conflictId}}</div>
                <div>To je value: {{conflict.value}}</div>
                <button (click)="resolveOneConflict(conflict.conflictId, resolveConflictWithRemote)"> Resolve this conflict </button>
                <!-- TODO: Mislim, da bi bilo dobro narediti eno funkcijo, ki bo iz nekega izbranega konflikta (ali fielda od conflikta), poiskala podatek v LOCAL recordu za isti proeprty -->
                <input type="checkbox" (change)="resolveConflictWithRemote=!resolveConflictWithRemote" value="resolveConflictWithRemote" checked="resolveConflictWithRemote" />
            </li>
        </ul>

    </div>
</div>
<div class="">
    <button (click)="toggleShowExampleConflict()">{{showExampleConflict ? 'Close example' : 'Open example'}}</button>
</div>